.post_title {
	color: #FF8E0C;
	font-family: "Times New Roman", Arial, Tahoma, Helvetica, "FangSong" , "文泉驛正黑" , "儷黑 Pro", "DFKai-sb", "微軟正黑體" ,sans-serif;
	font-weight: bold;
}

.date {
	color: #FFC077;
	padding-right: 1rem;
}
		
.context > p {
	font-size: 1.2em; 
	font-family: Arial, "文泉驛正黑" , "儷黑 Pro", "微軟正黑體" ,sans-serif; 
}
	
.context > h4 {
	color: #6771C0;
	padding-top: 0.75rem;
	font-family: "Times New Roman", Arial, "DFKai-sb", sans-serif; 
	font-weight: bold;
}
	
.context_img {
	width: 60%; 
	height: 60%;
	padding-top: 1%;
	padding-bottom: 3%;
}
