.topic {
	padding-top: 3%;
}

.published_date {
	color: #969696;
	padding-right: 4%;
}

.context {
	font-size: 1.2em; 
	padding-left: 4%; 
	padding-right: 4%;
}

.chpmark {
	padding-top: 2%; 
	font-weight: bold;
}

.context_img {
	width: 60%; 
	height: 60%; 
	padding-top: 1%; 
	padding-bottom: 3%;
}